<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button routerLink="/overview" class="brand">MailToAuthorities</a>
  <!-- This fills the remaining space of the current row -->
  <span class="mat-toolbar-fill"></span>
  <a mat-button routerLink="/upload" class="cui-button">{{'Upload a conversation' | uppercase}}</a>
</mat-toolbar>
<div class="app">
  <header class="header-background">
    <div class="header-section">
      <h1 class="mat-h1">{{ title }}</h1>
      <h2 class="mat-h1">{{ subtitle }}</h2>
      <div class="header-read">
        <a mat-raised-button routerLink="/overview">{{'Read stories' | uppercase}}</a>
      </div>
    </div>
</header>
  <div class="app-home">
    <div class="app-component">
      <router-outlet></router-outlet>
    </div>
    <!--<app-upload class="app-component"></app-upload>-->
  </div>
</div>


