<div class="app-component-content">
  <h2 class="app-component-title">{{title}}</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let story of authorityStories | async" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
              {{story.from}}'s Story with {{story.to}}
            </mat-panel-title>
            <mat-panel-description>
              {{story.subject}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p [innerHtml]="story.body"></p>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="button-group">
    <a mat-fab routerLink="." class=""><i class="far fa-angry fa-2x "></i></a>
    <a mat-fab routerLink="." class="cui-button info"><i class="far fa-sad-cry fa-2x"></i></a>
    <a mat-fab routerLink="." class="cui-button warning"><i class="far fa-sad-cry fa-2x"></i></a>
    <a mat-fab routerLink="."><i class="far fa-meh-rolling-eyes fa-2x"></i></a>
  </div>
</div>
