// Import library functions for theme creation.
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin cui-button-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .cui-button {
    // Use mat-color to extract individual colors a palette.
    background-color: mat-color($accent);
    border-color: mat-color($accent, A400);
  }
  .cui-button.primary {
    // Use mat-color to extract individual colors a palette.
    background-color: #041e42;
    border-color: #041e42;
  }
  .cui-button.info{
    // Use mat-color to extract individual colors a palette.
    background-color: #4a8ba4;
    border-color: #4a8ba4;
  }
  .cui-button.warning{
    // Use mat-color to extract individual colors a palette.
    background-color: #f2855f;
    border-color: #f2855f;
  }
}
