@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.app-component {
  display: flex;
  max-width: 920px;
  margin: 60px 0;
}

.app-component-content > * {
  width: 100%;
}

.app-component-title {
  text-align: center;
  margin: 40px 0;
}

.button-group {
  text-align: center;
  margin: 40px 0;
}

.button-group > .mat-fab{
  margin: 10px;
}
